<div class="container">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <button (click)="injectOnBody()">
            Inject in body
          </button>
        </div>
        <div class="card-container borderless">
          The component will be appended in the body
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          <button (click)="injectOnElement(container)">
            Inject in component
          </button>
        </div>
        <div class="card-container">
          <p>
            The component will be injected here
          </p>
          <div #container></div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          <button (click)="injectFloatingComponent(form.value.dock)">
            Inject in a floating dock
          </button>
        </div>
        <form #form="ngForm" class="card-container" (change)="reset()">
          <div class="label-wrapper on-top">
            <label #top data-position="top">
              <input type="radio" name="dock" [value]="top" [ngModel]="top">
              On top
            </label>
          </div>
          <div class="label-wrapper on-left">
            <label #left data-position="left">
              <input type="radio" name="dock" [value]="left" [ngModel]="left">
              On left
            </label>
          </div>
          <div class="label-wrapper on-right">
            <label #right data-position="right">
              <input type="radio" name="dock" [value]="right" [ngModel]="right">
              On right
            </label>
          </div>
          <div class="label-wrapper on-bottom">
            <label #bottom data-position="bottom">
              <input type="radio" name="dock" checked [value]="bottom" [ngModel]="bottom">
              On bottom
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
