
button {
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  color: white;
  background-color: #3754aa;
  font-size: 1rem;
  cursor: pointer;
}

label {
  display: inline-flex;
  padding: 0.25rem 0.5rem 0.35rem 0.25rem;
  border-radius: 0.5rem;
  background-color: #e6e6e6;
  cursor: pointer;
}

input {
  margin-right: 0.35rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
