
:host {
  position: relative;
  display: block;
  width: 100%;
  min-width: 150px;
  height: 10rem;
  padding: 0.5rem;
  overflow: hidden;

  border: 1px solid #3754aa0f;
  border-radius: 0.5rem;
  background-color: #333;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background-size: 320px 320px;
  opacity: .35;
  animation: noise 1s steps(8,end) infinite both;
  pointer-events: none;
  background: url(../../assets/noise.png) 0 0;
}

@keyframes noise {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translate(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}

