
@font-face {
  font-family: KronaOne;
  src: url(./assets/fonts/krona_one/KronaOne-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/roboto//Roboto-Regular.ttf);
  font-display: swap;
}
